name: Deploy to Elastic Beanstalk

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build perfect deployment zip
        run: |
          mkdir deploy_package

          cp application.py requirements.txt Procfile deploy_package/

          cd deploy_package
          zip -r ../deploy.zip . > /dev/null

          echo "=== Contents of deploy.zip ==="
          unzip -l ../deploy.zip

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}
          application_name: HelloWordFlask
          environment_name: HelloWordFlask-env
          version_label: ${{ github.sha }}
          region: us-east-1
          deployment_package: deploy.zip
          wait_for_deployment: true