name: Deploy to AWS EC2

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Save SSH Private Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > keypair.pem
          chmod 600 keypair.pem

      - name: Deploy to EC2 Instance
        run: |
          EC2_IP=${{ secrets.EC2_IP }}

          ssh -o StrictHostKeyChecking=no -i keypair.pem ubuntu@$EC2_IP << 'EOF'
            set -e

            echo "Connected to EC2 successfully!"

            # Stop running Flask app safely
            sudo systemctl stop flask || true

            # Remove old project
            rm -rf ~/HelloWorldFlask

            # Clone latest version from GitHub
            git clone https://github.com/ShweMoeThantAurum/HelloWorldFlask.git
            cd HelloWorldFlask

            # Recreate virtual environment
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt

            # Restart systemd service
            sudo systemctl daemon-reload
            sudo systemctl restart flask
            sudo systemctl enable flask

            # Restart Nginx
            sudo systemctl restart nginx

            echo "Deployment completed!"
          EOF

      - name: Clean up SSH Key
        run: rm -f keypair.pem
